@import
url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400 & display=swap');
body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;

}

.cabecalho {
    position: relative;
    width: 100%;
    height: 110px;
    background: #05a728;
    color: white;
}

.animalife {
    font-weight: 600;
    font-size: 27px;
    color: white;
    margin-left: 1100px;
    top: -70%;
    position: relative;

}

.configuracao {
    width: 70px;
    height: 50px;
    margin-top: 00px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.sair {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 30px;

}

img {
    margin-right: 30px;
}


.cabecalhoSecundario {
    position: relative;
    width: 100%;
    height: 80px;
    background: #b8b6b6;
    text-align: center;
}

.labelInput {
    font-weight: 600;
    font-size: 20px;
    color: black;
    padding-right: 20px;
}

.inputProcurar {
    width: 330px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin-top: 25px;
    outline: none;
}

.botaoProcurar {
    width: 150px;
    height: 34px;
    background: #05a728;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.botaoProcurar:hover {
    background: darkgreen;
}

a {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

.assinatura {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 21px;
    color: #9d9d9d;
}

.modalAnimal {
    position: relative;
    width: 530px;
    height: 570px;
    background: #d9d9d9;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-content: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 25px;

}

.nomeAnimal {
    font-weight:600;
    font-size: 22px;
    color: black;
    padding-left: 20px;
    margin-top: 190px;
}

.descricao {
    width: 490px;
    height: 300px;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    margin-left: 18px;
}

.dados, .dadosAnimal, .labelDados {
    font-weight: 600;
    font-size: 20px;
    color: #878787;
    padding-left: 15px;
}

.labelDados{
    padding-top: 100px;
    text-align: center;
    justify-content: center;
}


.dadosAnimal{
    border: none;
    resize:none;
    outline: none;
    height: 121px;
    width: 228px;
    background: #d9d9d9;
}

.textArea {
    background: #d9d9d9;
    border: none;
    outline: none;
    margin-left: -155px;
    position: relative;
    top: 60px;
    width: 450px;
    height: 45px;
    padding: 5px;
}

.imagemAnimal {
    border: 1px solid black;
    position: absolute;
    height: 150px;
    margin-top: 15px;
    width: 500px;
    margin-left: 13px;
}



.dropdown {
    position: relative;
    display: flex;
    width: 70px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bfbfbf;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 230px;
    margin-top: 80px;
    margin-left: 40px;
    z-index: 1;

}

.dropdown-content a, .dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button{
    background-color: #bfbfbf;
    border: none;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.dropdown:hover .dropdown-content {

    margin-top: 85px;
    position: absolute;
    display: block;
}

.options:hover {
    color: black;
}

.imgConfig{
    margin-top: 15px;
    margin-left: 60px;
    width: 150%;
}

.mensagemRetorno{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-top: 250px;

}

