@import
url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400 & display=swap');

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;

}
.container{
    position: fixed;
    width: 100%;
}
.cabecalho{
    background-color: #05a728;
    width: 120%;
    height: 110px;
    position: relative;
    color: white;
}
a{
    font-weight: 500;
    font-size: 30px;
    color: white;
    margin-left: 140px;
    top: 35%;
    position: relative;
    text-decoration: none;
}
.animalife{
    font-weight: 600;
    font-size: 27px;
    color: white;
    margin-left: 1100px;
    margin-top: 5px;
}
.titulo{
    position:absolute;
    font-weight: 600;
    font-size: 30px;
    color: black;
    margin-left: 365px;
    margin-top: 80px;
}


.assinatura{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 350px;
    color: #9d9d9d;
    z-index: 2;
    position: absolute;
    margin-left: 48%;
}
.obraprima{
    margin-top: -12px;
    margin-left: 900px;
    position: absolute;
}
.imagemVoltar{
    height: 40px;
    width: 40px;
    position: absolute;
    margin-top: 34px;
    margin-left: 100px;
}

label{
    position: relative;
    font-weight: 600;
    font-size: 23px;
    color: black;
    margin-left: 160px;
    justify-content: flex-end;
    top: 150px;

}


input{
    position: relative;
    width: 300px;
    height: 20px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    margin-left: 10px;
    top: 150px;

}


.confirmacao{
    position: absolute;
    width: 250px;
    height: 60px;
    margin-left: -280px;
    margin-top: 240px;
    background:#05a728;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    white-space: none;
    border: none;
    cursor: pointer;
}
.confirmacao:hover{
    background: darkgreen;
}