@import
url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400 & display=swap');

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;

}

.container{
    position: fixed;
    width: 100%;
}

#imgPrincial {
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.fundo {
    background: rgba(89, 89, 89, 0.56);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 0.25);
    width: 100%;
    height: 111.5%;
    z-index: 1;
    position: absolute;
}

.login {
    background-color: white;
    position: absolute;
    width: 430px;
    max-width: 40%;
    max-height: 80%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    margin-top: -735px;
    margin-left: 780px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    z-index: 2;
}

.titleLogin {
    color: black;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.entrar {
    background-color: rgb(36, 173, 36);
    border: none;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.entrar:hover {
    background-color:  rgb(45, 202, 63);
}

.labelEmail {
    font-weight: 600;
    font-size: 20px;
    margin-top: 7%;
    position: absolute;
    margin-left: -5%;
}

.inputEmail {
    border-radius: 10px;
    border: 1px solid #bfbfbf;
    margin-top: 6.5%;
    margin-left: 15%;
    width: 345px;
}

.labelSenha {
    font-weight: 600;
    font-size: 20px;
    margin-top: 9%;
    position: absolute;
    margin-left: -5%;
}

.inputSenha {
    border-radius: 10px;
    border: 1px solid #bfbfbf;
    margin-top: 8.5%;
    margin-left: 15%;
    width: 345px;
}

.esqueciSenha {
    font-weight: 600;
    font-size: 13px;
    color: #05a728;
    margin-left: 70%;
    white-space: nowrap;
    cursor: pointer;
}

.esqueciSenha:hover {
    color: darkgreen;
}

.entrar {
    background: #05a728;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    width: 289px;
    height: 67px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-left: 20%;
    margin-top: 11.5%;
}

.entrar:hover {
    background: darkgreen;
}

.criarConta {
    font-weight: 600;
    font-size: 13px;
    color: black;
    text-align: center;
    margin-top: 13%;
    cursor: pointer;
}

.linkLogin {
    text-decoration: none;
    color: #05a728;
}

.linkLogin:hover {
    color: darkgreen;
}

.titulo {
    font-weight: 700;
    font-size: 31px;
    color: white;
    margin-top: -28%;
    margin-left: 10%;
    z-index: 2;
    position: absolute;
}

.logo {
    width: 214px;
    height: 140px;
    background: #05a728;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    margin-top: -39%;
    margin-left: 23%;
}

.animalife {
    font-weight: 600;
    font-size: 27px;
    color: white;
    margin-top: -37%;
    margin-left: 25%;
    text-align: center;
    position: relative;
    margin-top: 25%;
    margin-left: -1%;
}



